<div class="flash-message-container" role="alert">
	<div class="flash-message success">
		<p>This is a success message!</p>
	</div>
</div>

<div class="flash-message-container" role="alert">
	<div class="flash-message failure">
		<p>This is a failure message!</p>
	</div>
</div>
