<section class="callout-wrapper">
	<div class="callout-block-container">
		<%= image_tag 'assistant.svg', alt:'' %>
		<div class="text-block">
			<header>
				<span>Storage Assistant</span>
				<h2>Need help deciding?</h2>
			</header>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel sit amet, consectetur adipiscing elit.</p>
			<a href="" class="button-primary">Find Your Storage Solution</a>
		</div>
	</div>
</section>