<div>
	<h4>Brand Colors</h4>
	<div class="color-block">
		<div class="color" style="background-color: #1B3C92;"></div>
		<div class="text-block">
			<p>$primary</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #132a67;"></div>
		<div class="text-block">
			<p>$primary-dark</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #CE3138;"></div>
		<div class="text-block">
			<p>$secondary</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #a5272d;"></div>
		<div class="text-block">
			<p>$secondary-dark</p>
		</div>
	</div>

	<br/><br/>

	<h4>Utility Colors</h4>
	<div class="color-block">
		<div class="color" style="background-color: #ffbcbc;"></div>
		<div class="text-block">
			<p>$red-light</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #CE3138;"></div>
		<div class="text-block">
			<p>$red-base</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #a5272d;"></div>
		<div class="text-block">
			<p>$red-dark</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #ecfdf3;"></div>
		<div class="text-block">
			<p>$green-light</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #0f8e47;"></div>
		<div class="text-block">
			<p>$green-base</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #0a6030;"></div>
		<div class="text-block">
			<p>$green-dark</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #FFFFFF;"></div>
		<div class="text-block">
			<p>$white-base</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #F4F5F8;"></div>
		<div class="text-block">
			<p>$blue-grey-base</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #E4E8F1;"></div>
		<div class="text-block">
			<p>$blue-grey-dark</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #D6D6D6;"></div>
		<div class="text-block">
			<p>$grey-light</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #A9A9A9;"></div>
		<div class="text-block">
			<p>$grey-base</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #767676;"></div>
		<div class="text-block">
			<p>$grey-dark</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #4A4A4A;"></div>
		<div class="text-block">
			<p>$black-base</p>
		</div>
	</div>
	<div class="color-block">
		<div class="color" style="background-color: #15191C;"></div>
		<div class="text-block">
			<p>$black-dark</p>
		</div>
	</div>
</div>