<section class="colored-block-wrapper">
	<div class="colored-block-container">
		<div class="card">
			<div class="card-inner text-block">
				<h2>Header Goes Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="image-block">
				<%= image_tag 'samples/size.svg', alt:'' %>
			</div>
		</div>
	</div>
</section>