<div class="empty-state">
	<div class="image-block">
		<%= image_tag 'utility-icons/search.svg', alt:'' %> 
	</div>
	<div class="text-block">
		<h2>No Units Matched your Search</h2>
		<p>Sorry, but we we’re able to find any units that match your search and filter criteria. Try another search!</p>
	</div>
</div>