<div class="filters">
	<fieldset class="search-with-button">
		<div class="input-wrapper">
			<input type="text" name="" placeholder="Search by City, State, or Zip" />
			<button><%= image_tag 'utility-icons/search.svg', alt:'Search' %></button>
		</div>
	</fieldset>
	<fieldset class="custom-dropdown">
		<button>All Sizes</button>
		<ul class="dropdown">
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox1" value="true" />
						<label for="checkbox1">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox2" value="true" />
						<label for="checkbox2">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox3" value="true" />
						<label for="checkbox3">Checkbox label</label>
					</div>
				</fieldset>
			</li>
		</ul>
	</fieldset>
	<fieldset class="custom-dropdown">
		<button>All Amenities</button>
		<ul class="dropdown">
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox4" value="true" />
						<label for="checkbox4">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox5" value="true" />
						<label for="checkbox5">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox6" value="true" />
						<label for="checkbox6">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox7" value="true" />
						<label for="checkbox7">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox8" value="true" />
						<label for="checkbox8">Checkbox label</label>
					</div>
				</fieldset>
			</li>
			<li>
				<fieldset class="checkbox">
					<div class="input-wrapper">
						<input type="checkbox" id="checkbox9" value="true" />
						<label for="checkbox9">Checkbox label</label>
					</div>
				</fieldset>
			</li>
		</ul>
	</fieldset>
</div>
<div class="filters-applied">
	<div class="inner">
		<h2>Filters:</h2>
		<ul>
			<li>
				<button class="link-primary">Small Units <span>×</span></button>
			</li>
			<li>
				<button class="link-primary">Climate Control <span>×</span></button>
			</li>
		</ul>
	</div>
</div>