<section class="icon-cards-wrapper">
	<div class="icon-cards-block-container">
		<header class="centered">
			<span>Subheader</span>
			<h2>Section Header</h2>
		</header>
		<ul>
			<li class="card">
				<%= image_tag 'samples/climate-control-white.svg', alt:'' %> 
				<div class="card-inner">
					<h3>Heading</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel sit amet, consectetur adipiscing elit.</p>
				</div>
			</li>
			<li class="card">
				<%= image_tag 'samples/climate-control-white.svg', alt:'' %> 
				<div class="card-inner">
					<h3>Heading</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel sit amet, consectetur adipiscing elit.</p>
				</div>
			</li>
			<li class="card">
				<%= image_tag 'samples/climate-control-white.svg', alt:'' %> 
				<div class="card-inner">
					<h3>Heading</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel sit amet, consectetur adipiscing elit.</p>
				</div>
			</li>
		</ul>
	</div>
</section>