<section class="location-bar">
	<h2>Our Storage Locations:</h2>
	<ul>
		<li><a href="">DE</a></li>
		<li><a href="">FL</a></li>
		<li><a href="">GA</a></li>
		<li><a href="">KY</a></li>
		<li><a href="">MI</a></li>
		<li><a href="">NC</a></li>
		<li><a href="">NJ</a></li>
		<li><a href="">OH</a></li>
		<li><a href="">TN</a></li>
		<li><a href="">SC</a></li>
	</ul>
</section>