<section class="card location-preview location-card map-toggle">
	<div class="location-preview-content">
		<div class="text-block">
			<h2>Hobe Sound II</h2>
			<ul>
				<li>
					<%= image_tag 'utility-icons/location.svg', alt:'' %> 

					<p>
						<strong>20 miles away</strong><br/>
						<small>2112 Tilton St Greenwich, OH 44837</small>
					</p>
				</li>
				<li>
					<%= image_tag 'utility-icons/phone.svg', alt:'' %>
					<p>973-510-2550</p>
				</li>
			</ul>
			<button class="button-primary">Browse Units</button>
		</div>
	</div>
</section>