<div class="modal">
  <div class="modal-fade-screen is-active">
    <div class="card modal-inner">
      <h2>Modal Header</h2>
      <div class="modal-close">×</div>
      <div class="modal-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra nunc eros, ut sollicitudin est iaculis vel. Vivamus eleifend vulputate dui, sed tincidunt enim placerat at.</p>
        <a href="#" class="button-primary">Button Text</a>
      </div>
    </div>
  </div>
</div>