<div class="pagination">
	<ul>
		<li class="prev"><a>Prev</a></li>
		<li class=""><a>1</a></li>
		<li class="active"><a>2</a></li>
		<li class=""><a>3</a></li>
		<li><span class="delimiter">...</span></li>
		<li class=""><a>38</a></li>
		<li class="next"><a>Next</a></li>
	</ul>
</div>