<div class="review">
	<div class="user">
		<div class="initials">JC</div>
		<p>Jo Anne Chiaramonte</p>
	</div>
	<div class="text-block">
		<div class="rating">
			<i class="rating-stars five-stars"></i>
			<p>Reviewed on May 2, 2019</p>
		</div>
		<blockquote>
			<p>Just want to say that the service was excellent. We used their truck to move our cartons and house hold supplies. couldn't ask for better management and employee. Very friendly and very helpful.</p>
		</blockquote>
	</div>
</div>