<section class="steps-wrapper">
	<div class="steps-block-container">
		<header class="centered">
			<span>3 Simple Steps</span>
			<h2>Finding Storage is Easy</h2>
		</header>
		<ul>
			<li>
				<%= image_tag 'samples/search-blue.svg', alt:'' %> 
				<h3>Find Locations</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel.</p>
			</li>
			<li>
				<%= image_tag 'samples/search-blue.svg', alt:'' %> 
				<h3>Find Locations</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel.</p>
			</li>
			<li>
				<%= image_tag 'samples/search-blue.svg', alt:'' %> 
				<h3>Find Locations</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel.</p>
			</li>
		</ul>
	</div>
</section>