<section class="storage-size-wrapper">
	<div class="storage-sizes-block-container">
		<header class="centered">
			<span>Find your Size</span>
			<h2>Our Most Popular Storage Unit Sizes</h2>
		</header>

		<div class="storage-size-block">
			<h3>Small Storage Units</h3>
			<ul class="row">
				<li class="card">
					<%= image_tag 'samples/5x5.jpg' %>
					<div class="text-block">
						<h3><strong>5' x 5'</strong> Storage Unit</h3>
						<p>About a small to large walk in closet.</p>
					</div>
				</li>
				<li class="card">
					<%= image_tag 'samples/5x5.jpg' %>
					<div class="text-block">
						<h3><strong>5' x 10'</strong> Storage Unit</h3>
						<p>Equivalent to a walk in closet.</p>
					</div>
				</li>
				<li class="card">
					<%= image_tag 'samples/5x5.jpg' %>
					<div class="text-block">
						<h3><strong>5' x 15'</strong> Storage Unit</h3>
						<p>Equivalent to a large walk in closet.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>