<section>
	<div class="testimonial-block-container">
		<header class="centered">
			<span>Testimonials</span>
			<h2>What our Customers are Saying</h2>
		</header>
		<ul class="testimonial-blocks single-slide">
			<li style="background: url('../images/samples/family.jpg') no-repeat center;">
				<blockquote>
					<p>Just want to say that the service was excellent.</p>
					<cite>Jo Anne Chiaramonte</cite>
					<i class="rating-stars five-stars"></i>
				</blockquote>
			</li>
			<li>
				<blockquote>
					<p>Just want to say that the service was excellent. We used their truck to move our cartons and house hold supplies. couldn't ask for better management and employee. Very friendly and very helpful.</p>
					<cite>Jo Anne Chiaramonte</cite>
					<i class="rating-stars five-stars"></i>
				</blockquote>
			</li>
			<li>
				<blockquote>
					<p>Just want to say that the service was excellent. We used their truck to move our cartons and house hold supplies. couldn't ask for better management and employee. Very friendly and very helpful.</p>
					<cite>Jo Anne Chiaramonte</cite>
					<i class="rating-stars five-stars"></i>
				</blockquote>
			</li>
			<li style="background: url('../images/samples/mom.jpg') no-repeat center;">
				<blockquote>
					<p>Just want to say that the service was excellent.</p>
					<cite>Jo Anne Chiaramonte</cite>
					<i class="rating-stars five-stars"></i>
				</blockquote>
			</li>
		</ul>
	</div>
</section>