<section class="text-with-card-block-container">
	<div class="text-block wysiwyg-formatting">
		<header>
			<span>About Us</span>
			<h2>It Couldn’t Be Easier to Find Your Local Storage Facility!</h2>
		</header>
		<p>Our network of storage facilities means you are probably no more than 5 miles away from one of our many convenient locations. Come into our office during our scheduled office hours or give our storage experts a call, 7 days a week. Have questions? Want to reserve your storage unit? Our helpful storage experts can do all of that and more over the phone.</p>
	</div>
	<div class="card">
		<header>
			<%= image_tag 'samples/clock.svg', alt:'' %> 
			<h3>Call Center Hours</h3>
		</header>
		<ul>
			<li><strong>Monday Through Friday:</strong> 8AM – 7PM</li>
			<li><strong>Saturday:</strong> 9AM – 5:30PM</li>
			<li><strong>Sunday:</strong> 9AM – 5:30PM</li>
		</ul>
	</div>
</section>