<div class="tooltip-block">	
	<div class="tooltip-item">
		?
		<div class="tooltip">
			<h5><strong>Price Breakdown</strong></h5>
			<table>
				<tr>
					<td>1st month rent (prorated)</td>
					<td class="align-right"><strong>$7</strong></td>
				</tr>
				<tr>
					<td>One time admin fee</td>
					<td class="align-right"><strong>$1</strong></td>
				</tr>
				<tr>
					<td>2nd month rent</td>
					<td class="align-right"><strong>$1</strong></td>
				</tr>
				<tr>
					<td>1st month tenant protection program (prorated)</td>
					<td class="align-right"><strong>$1</strong></td>
				</tr>
				<tr>
					<td>2nd month tenant protection program</td>
					<td class="align-right"><strong>$10</strong></td>
				</tr>
				<tr class="highlight">
					<td><strong>Total</strong></td>
					<td class="align-right"><strong>$20</strong></td>
				</tr>
			</table>
		</div>
	</div>
</div>






