.colored-block-wrapper{
	.card{
		background-color: $primary-base;

		@include grid-media($tablet){
			align-items: stretch;
			display: flex;
			flex-direction: row-reverse;
		}
		
		.image-block{
			background-color: rgba($black-dark, 0.2);
			@include rem(padding, 30px);
			position: relative;
			text-align: center;

			@include grid-media($tablet){
				width: 35%;
				@include rem(padding, 60px 40px);
			}

			img{
				max-width: 200px;
				width: 70%;
				
				@include grid-media($tablet){
					@include vertical-horizontal-center;
				}
			}
		}

		.text-block{
			h2, p, a{
				color: $white-base;
			}

			h2{
				@include rem(margin-bottom, 10px);
			}

			@include grid-media($tablet){
				@include rem(padding, 60px);
				width: 65%;
			}
		}
	}
}