/*-----------------------
Contact Form Layout
-----------------------*/
.contact-form-block-container{
	padding: 0px !important;

	@include grid-media($tablet-landscape) { @include rem(padding, 60px 30px !important); }

	.card{
		box-shadow: none;
		
		@include grid-media($tablet-landscape) { 
			box-shadow: 0 2px 20px 0 rgba(191, 191, 191, 0.5);
			display: flex;
		}

		.card-inner{
			@include grid-media($tablet-landscape) { 
				@include rem(padding, 40px 60px);
			}
		}

		.form-icons{
			@include grid-media($tablet-landscape) { 
				width: 800px;
			}
		}
	}
}

/*-----------------------
Icon Section
-----------------------*/
.form-icons{
	background-color: $blue-grey-base;
	text-align: center;
	position: relative;

	ul{
		@include center;
		@include rem(padding, 20px);
		max-width: 300px;

		@include grid-media($tablet-landscape) { 
			@include vertical-horizontal-center;
		}
	}

	li{
		@include rem(margin-top, 20px);
		position: relative;

		&:not(:first-child){
			border-top: $grey-border;
			@include rem(padding-top, 20px);
		}

		&:first-child{
			margin-top: 0px;
		}

		img{
			@include rem(margin-bottom, 10px);
			width: 58px;
		}

		h3{
			color: $primary-base;
		}

		p{
			line-height: 1.8;
		}
	}
}