/*-----------------------
Footer
-----------------------*/
.page-footer{
	background-color: $white-base;
}

.footer-blocks{
	@include grid-media($tablet){
		@include grid-container;
		@include grid-collapse;
	}

	.footer-block{
		@include rem(margin-bottom, 20px);

		@include grid-media($tablet){
			@include rem(margin-bottom, 0px);
			@include grid-column(3);
		}	

		li{
			&:not(:last-child){
				@include rem(margin-bottom, 8px);
			}
		}

		a{
			font-weight: $regular;
			text-decoration: none;
		}
	}

	h2{
		@include s-base;
		font-weight: $bold;

		@include grid-media($tablet){
			@include s-medium;
		}
	}
}

.link-with-icon{
	img{
		max-height: 20px;
		width: inherit;
		vertical-align: middle;
		@include rem(margin-right, 10px);
	}
}

.social-icons{
	li{
		display: inline-block;

		a{
			line-height: 0;
			display: inline-block;
		}

		img{
			max-height: 20px;
			width: inherit;
		}

		&:not(:last-child){
			@include rem(margin-right, 20px);	
		}
	}
}

.legal-block{
	border-top: $grey-border;
	@include rem(margin-top, 20px);
	@include rem(padding-top, 20px);

	p, a{
		@include s-tiny;
	}

	a{
		font-weight: $regular;
	}

	.copyright{
		display: inline-block;
	}

	ul{
		@include grid-media($tablet){
			float: right;
		}

		li{
			display: inline-block;
			line-height: 1rem;

			&:not(:last-child):after{
				border-right: $black-border;
				content:"";
				display: inline-block;
				height: 10px;
				vertical-align: middle;
				@include rem(margin, 0px 10px);
			}
		}
	}
}

.footer-block{
	&.expander{
		h2{
			display: none;
		}

		@include grid-media($tablet){
			border: none;
			padding: 0px;
		}

		.trigger{
			@include grid-media($tablet){
				display: none;
			}
		}

		h2, ul{
			@include grid-media($tablet){
				display: block;
			}
		}
	}
}

.expander{
	border-bottom: $grey-border;
	@include rem(padding-bottom, 10px);	

	.trigger{
		@include rem(margin-bottom, 10px);
		text-align: left;
		width: 100%;

		&:after{
			content: "+";
			display: inline-block;
			float: right;
		}
	}

	ul, .expanded-content{
		display: none;
	}

	&.is-active{
		.trigger{
			&:after{
				content: "–";
			}
		}

		ul{
			display: block;
		}
	}
}