.modal {

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  .modal-fade-screen {
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 1;
    transition: opacity 0.25s ease;
    z-index: 9999999;
  }

  .modal-close {
    color: $black-base;
    border: none;
    cursor: pointer;
    position: absolute;
    @include s-huge;
    top: 10px;
    right: 10px;
    background-color: transparent;

    &:focus{
      outline: $focus-on-white;
    }
  }

  .modal-inner{
    @include grid-container;
    background-color: $white-base;
    box-shadow: none;
    max-height: calc(100% - 40px);
    -ms-overflow-style: none;
    overflow: scroll;
    position: relative;
    transition: opacity 0.25s ease;
    padding: 2em;
    margin: 20px;

    @include grid-media($tablet){
      margin: auto;
      @include center;
      max-width: 700px;
      @include vertical-center;
      left: 50%;
      max-height: 650px;
      transform: translateY(-50%) translateX(-50%);
    }

    .button-block{    
      button, a{
        @include rem(margin-top, 10px);
        width: 100%;

        @include grid-media($tablet){
          width: inherit;
        }

        & ~ button, & ~ a{
          @include grid-media($tablet){
            @include rem(margin-left, 10px);
          }
        }
      }
    }
  }
}

.storage-assistant{
  .modal-inner{
    @include rem(padding, 20px 20px 40px);
    margin: 0px;
    min-height: 100vh;

    @include grid-media($tablet){
      max-width: 95%;
      min-height: 0;
      @include rem(padding, 40px 40px 80px);
    }

    @include grid-media($tablet-landscape){
      max-width: 80%;
    }

    header{
      img{
        width: 200px;
        @include rem(margin-bottom, 20px);
      }
    }

    h3{
      @include s-big;
    }

    .button-block{
      @include position(fixed, null 0px 0px 0px);

      @include grid-media($tablet){
        @include position(absolute, null 0px 0px 0px);
      }

      a, button{
        border-radius: 0px;
        margin: 0px !important;
        width: 50%;

        &:first-child{
          margin-right: -4.5px !important;        
        }
      }
    }
  }
}

.detailed-checkbox{
  li{
    @include rem(margin-top, 10px);

    @include grid-media($tablet){
      @include grid-column(6 of 12);
    }

    label{
      border: 1px solid $grey-light;
      border-radius: 4px;
      cursor: pointer;
      @include rem(padding, 10px);
      display: flex;
      align-items: center;
      position: relative;
    }

    img{
      width: 58px;
    }

    .text-block{
      @include rem(padding, 0px 40px 0px 0px);

      h3{
        @include s-big;
        margin: 0px;
      }

      p{
        @include s-small;
        line-height: 1.2;
      }
    }
    input{
      @include position(absolute, null 10px null null);
    }
  }
}

//Filter Modal
.filter-modal{
  .modal-close{
    @include position(absolute, 20px 30px null null);
    @include s-mega;
  }

  .card{
    height: 100vh;
    overflow: auto;
    border-radius: 0px;
    margin: 0px;

    @include grid-media($tablet){
      @include position(absolute, 0px 0px 0px null);
      left: auto;
      width: 400px;
      transform: none;
      max-height: 100%;
    }

    h2{
      @include rem(margin-bottom, 15px);
    }

    .detailed-checkbox{
      display: inline-block;
      width: 100%;

      li{
        @include rem(margin, 5px 0px 0px);
        width: 100%;

        label{
          @include rem(padding, 5px 10px);
        }
      }

      &.amenities{
        img{
          @include rem(padding, 5px 15px 5px 0px);
        }
      }
    }

    .button-primary{
      @include rem(margin-top, 5px);
      width: 100%;
    }

    .button-neutral-outline{
      width: 100%;
      @include rem(margin-top, 10px);
    }
  }
}