.overlay-wrapper{
	background-color: $primary-base;
	text-align: center;
	position: relative;
	z-index: 1;

	.overlay-container{
		@include base-padding;
	}

	.image-block{
		background-size: cover !important;
		z-index: -1;
		@include position(absolute, 0px 0px 0px 0px);
		opacity: 0.1;
	}

	h2, span, p{
		color: $white-base;
	}

	ul{
		li{
			background-color: rgba($white-base, .85);
			display: inline-block;
			@include rem(padding, 20px);
			border-radius: 4px;
			width: 46%;
			margin: 5.2% 1.6% 0px;
			height: 105px;
			vertical-align: top;

			@include grid-media($tablet){
				width: calc((100%/3) - 4%);
				@include rem(padding, 30px 20px);
				margin: 20px 1% 0px;
				height: 135px;
			}

			@include grid-media($tablet-landscape){
				width: calc((100%/6) - 4%);
			}

			img{
				max-height: 25px;
				@include rem(margin-bottom, 5px);
			}

			p{
				line-height: normal;
				color: $blue-base;
			}
		}
	}
}