.reviews{
	@include rem(margin-bottom, -30px);
}

.review{
	@include rem(margin, 0px -30px);
	@include rem(padding, 20px);
	border-top: $grey-border;

	@include grid-media($tablet){
		margin: 0px;
	}

	.user{
		@include rem(margin-bottom, 5px);

		@include grid-media($tablet){
			text-align: center;
			display: inline-block;
			width: 150px;
			@include rem(padding-right, 10px);
			@include rem(margin-bottom, 0px);
			vertical-align: top;
		}

		.initials{
			display: none;

			@include grid-media($tablet){
				@include center;
				background-color: $primary-base;
				color: $white-base;
				height: 50px;
				width: 50px;
				text-align: center;
				border-radius: 20em;
				@include s-big;
				line-height: 2.4;
				@include rem(margin-bottom, 5px);
			}
		}

		p{
			font-weight: $bold;
			line-height: normal;
		}
	}

	.text-block{
		@include grid-media($tablet){
			display: inline-block;
			width: calc(100% - 155px);
		}
		p{
			line-height: 1.7;
		}
	}

	.rating{
		p{
			display: inline-block;
			font-style: italic;
			@include s-small;
		}
	}
}

//Review Summary
.review-summary{
	@include rem(margin-bottom, 15px);

	span{
		@include s-large;
		font-weight: bold;
		color: $black-base;
		@include rem(margin-right, 5px);
	}

	.rating-stars, p{
		display: inline-block;
		vertical-align: middle;
	}

	a{
		@include rem(margin-top, 5px);
		width: 100%;

		@include grid-media($tablet){
			float: right;
			width: auto;
			@include rem(margin-top, -5px);
		}
	}
}