/*-----------------------
Scroll to Links
-----------------------*/
.scroll-to-links{
  background-color: $white-base;
  @include rem(padding, 14px 20px 0px);
  border-bottom: $grey-border;
  overflow-x: auto;
  white-space: nowrap;
  display: none;
  text-align: center;

  @include grid-media($tablet-landscape){
    display: block;
  }

  li{
    display: inline-block;
    border-bottom: 4px solid transparent;
    @include rem(padding-bottom, 10px);
    @include rem(margin-right, 30px);

    &:last-child{
      @include grid-media($tablet){
        @include rem(margin-right, 0px);
      }
    }

    &.is-active{
      border-bottom: 4px solid $primary-base;
    }

    a{
      text-decoration: none;
    }
  }
}

//Mobile Scroll Links
.location-block-container{
  .scroll-to-links{
    display: block;
    @include rem(margin, 0px -20px 20px);

    @include grid-media($tablet){
      @include rem(margin, 0px -30px 30px);
    }

    @include grid-media($tablet-landscape){
      display: none;
    }
  }
}