/*-----------------------
Steps
-----------------------*/
.steps-wrapper{
	background-color: $blue-grey-base;

	.steps-block-container{
		text-align: center;

		li{
			@include rem(margin-top, 20px);
			position: relative;
			@include grid-media($tablet){
				@include grid-column(4 of 12);
				@include rem(padding, 0px 20px);
			}

			&:not(:last-child):after{
				@include grid-media($tablet){
					content: "";
					background-image: url('../images/utility-icons/divider.svg');
					background-size: 100%;
					height: 70px;
					display: block;
					@include vertical-center;
					right: 0px;
					width: 14px;
				}
			}
			
			img{
				@include rem(margin-bottom, 10px);
				width: 40px;
			}

			h3{
				color: $primary-base;
			}

			p{
				line-height: 1.8;
			}
		}
	}
}