/*-----------------------
Blog
-----------------------*/
.blog-page-header{
	background-color: $grey-base;
	background-size: cover !important;
	text-align: center;
	position: relative;
	z-index: 1;
	height: 375px;

	&:after{
		content: "";
		opacity: 0.5;
		background-color: #15191c;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: -1;
	}

	h1, p{
		color: $white-base;
		text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	}

	p{
		@include s-medium;
	}

	.text-block{
		@include vertical-horizontal-center;
		width: 100%;
		max-width: 1000px;

		h1{
			font-size: 30px;
			@include grid-media($tablet){
				font-size: 50px;
			}
		}
	}
}

.feature{
	.slick-dots{
		@include rem(margin-top, -35px);
	}

	.slick-dots li button:before {
	    opacity: .25;
	    color: $white-base;
	}

	.slick-dots li.slick-active button:before {
	    opacity: .75;
	    color: $white-base;
	}

	.slick-dots li.slick-active button:focus {
	    @include outline-light;
	}

	.slick-next{
		display: none !important;
		@include grid-media($tablet-landscape){
			display: block !important;
			right: 20px;
		}
	}

	.slick-prev{
		display: none !important;
		@include grid-media($tablet-landscape){
			display: block !important;
			left: 20px;
		}
	}
}

.blog-wrapper{
	.blog-content{	
		@include grid-media($tablet){
			@include grid-column(8 of 12);
		}

		.text-on-image-block{
			@include rem(margin-bottom, 20px);

			@include grid-media($tablet){
				height: 300px;
			}

			.text-block{
				@include grid-media($tablet){
					height: 78%;
				}

				p{
					@include s-medium;
					line-height: 1.5;
				}
			}
		}
	}

	aside{
		@include rem(margin-top, 30px);

		@include grid-media($tablet){
			@include grid-column(4 of 12);
			@include rem(margin-top, 0px);
		}
	}
}

.popular-posts{
	h2{
		text-align: center;
		@include s-big;
		margin: 0px;
		@include rem(padding, 15px 10px);
	}

	a{
		text-decoration: none;
		display: flex;
		align-items: center;
		border-top: $grey-border;
		@include rem(padding, 10px 20px);

		.image-block{
			display: inline-block;
			height: 70px;
			width: 70px;

			img{
				object-fit: cover;
				height: 100%;
			}
		}

		.text-block{
			display: inline-block;
			@include rem(padding-left, 20px);
			width: calc(100% - 80px);

			h3{
				@include s-medium;
				@include rem(margin-bottom, 5px);
			}

			p{
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 1px;
				@include s-small;
			}
		}
	}
}


.blog-social-block{
	background-color: $primary-base;
	@include rem(padding, 15px 20px);

	li{
		display: inline-block;
		vertical-align: middle;

		&:not(:first-child){
			@include rem(margin-left, 15px);
		}

		h3{
			color: $white-base;
			@include s-big;
			margin: 0px;
		}

		a{
			&:focus{
				@include outline-light;
			}
		}
	}

	img{
		height: 25px;
		width: auto;
		//vertical-align: middle;
	}
}