/*-----------------------
Filters
-----------------------*/


.map-block{
	background-color: $grey-base;
	height: 300px;

	@include grid-media($tablet-landscape){
		@include position(fixed, 79px null null 0px);
		height: calc(100vh - 79px);
		width: 40%;
	}
}

.results-block{
	background-color: $blue-grey-base;

	.results-inner{
		@include rem(padding, 20px);
		@include center;
		max-width: 900px;
	}

	@include grid-media($tablet-landscape){
		margin-left: 40%;
	}

	.card{
		img{
			display: block;
		}

		.blade{
			display: none;

			@include grid-media($tablet){
				display: flex;
			}
		}

		.toggle{
			display: none;

			@include grid-media($tablet){
				display: block;
			}
		}

		.blade.location-preview-block{
			display: block;
			@include rem(padding-bottom, 20px);

			@include grid-media($tablet){
				display: flex;
				@include rem(padding-bottom, 10px);
			}

			.image-block{
				position: relative;
				height: 170px;

				@include grid-media($tablet){
					height: 90px;
					@include rem(margin-right, 10px);
				}

				img{
					width: calc(100% + 46px);
					margin: -11px 0px 20px -23px;
					height: 100%;
					object-fit: cover;

					@include grid-media($tablet){
						width: 125px;
						margin: 0px;
					}
				}

				@include grid-media($tablet){
					width: 125px;
				}

				.pricing{
					right: 0px;

					@include grid-media($tablet){
						display: none;
					}
				}
			}

			.button-primary-outline{
				width: 100%;
				@include rem(margin-top, 10px);
				background-color: $primary-base;
				color: $white-base;

				@include grid-media($tablet){
					background-color: transparent;
					color: $primary-base;
					width: auto;
				}

				&:hover{
					background-color: $primary-dark;

					@include grid-media($tablet){
						background-color: $primary-base;
						color: $white-base;
					}
				}
			}
		}
	}
}

.results-block{
	.page-footer{
		.footer-block-container{
			max-width: 900px;
		}
	}
}



.results-header{
	@include rem(margin-bottom, 10px);

	p{
		font-weight: $bold;
		line-height: 1.5;
	}
}

.card{
	.blade{
		box-shadow: none;
		border-top: $grey-border;
		margin: 0px;

		&:first-child{
			border: none;
		}
	}

	.link-primary{
		border-top: $grey-border;
		width: 100%;
		margin-bottom: 0px;
		@include rem(padding, 8px 20px);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		&:before{
			content: "+";
			display: inline-block;
			@include rem(padding-right, 5px);
		}

		&.is-active{
			&:before{
				content: "–";
			}
		}
	}
}


.location-preview-block{
	img{
		width: 125px;
	}

	h3{
		@include s-medium;
		@include rem(margin-bottom, 5px);
	}

	.text-block{
		width: 100%;

		li{
			width: 100%;

			img{
			    vertical-align: top;
			    max-height: 16px;
			}

			p{
				@include rem(margin-top, -4px);
				line-height: 1.6;
				width: calc(100% - 25px);
			}
		}
	}
}