/*-----------------------
Reserve Layout
-----------------------*/
.reserve-block-container{
	h1{
		@include s-big;

		@include grid-media($tablet){
			@include s-large;
		}
	}

	.card.location-preview{
		max-width: inherit;
		position: relative;

		@include grid-media($tablet){
			@include rem(margin, -30px -10px 20px);
			width: calc(100% + 25px);
		}

		@include grid-media($tablet-landscape){
			@include grid-column(4 of 12);
			float: right;
			margin: 0px;
		}
	}

	.card.form{
		@include grid-media($tablet-landscape){
			@include grid-column(8 of 12);
			margin: 0px;
		}
	}
}


    .location-preview-content{

    	&.blade .image-block{
    		height: 150px;

    		img{
    			display: block;
    		}
    	}
    }

.reserve-block-container .location-preview{

	.location-preview-content{

		@include grid-media($tablet-landscape){
			align-items: inherit;
		}
		
		.image-block{
			@include grid-media($tablet-landscape){
				width: 50%;
				height: 90px;
			}
		}

		.text-block{
			@include rem(padding, 0px 0px 0px 20px);
		}
	}

	.blade.unit{
		@include rem(padding, 15px 20px);
		display: flex;
		align-items: center;

		img{
			width: 55px;
			display: block;
		}

		.text-block{
		    width: calc(100% - 144px);
		    @include rem(padding, 5px);
		    margin: 0px;

			h2{
				@include s-big;

				span{
					color: $grey-base;
				}
			}
		}

		.price{
			h2{
				@include s-big;
			}
		}
	}

	.unit-highlights{
		display: none;
	}

	&.is-active{
		.unit-highlights{
			border-top: $grey-border;
			display: block;
			@include rem(padding, 10px 20px);
		}
	}
}