<nav>
	<a href="/" class="logo">
		<%= image_tag 'logo.svg', alt: 'Second Brain Healthcare' %>
	</a>
	<ul>
		<li>
			<a href="/#about">About</a>
		</li>
		<li>
			<a href="/#for-you">Is Second Brain for You?</a>
		</li>
		<li>
			<a href="/#how-it-works">How it works</a>
		</li>
		<li>
			<a href="/#our-approach">Our Approach</a>
		</li>
		<li>
			<a href="/contact.html" class="button-light-outline">Request Info</a>
		</li>
	</ul>
</nav>

<main>
	<header class="page-header" style="background: url('/images/lifestyle/group.jpg') no-repeat center;">
		<div class="header-block-container">
			<div class="text-block">
				<h1>Request More Info Today</h1>
				<p>Get in touch to learn more about Second Brain Healthcare.</p>
			</div>
		</div>
	</header>

	<section>
		<div class="form">
			<script type="text/javascript" src="https://form.jotform.com/jsform/212778825475065"></script>
		</div>
	</section>
</main>